absl-py==2.0.0
alembic==1.14.1
altair==5.5.0
altgraph==0.17.4
amqp==5.2.0
annotated-types==0.6.0
anyio==3.7.1
anywidget==0.9.13
appdirs==1.4.4
arabic-reshaper==3.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Automat==22.10.0
autopep8==2.3.1
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.2
billiard==4.2.1
binaryornot==0.4.4
binutils==0.3.dev1
bleach==6.0.0
blinker==1.9.0
bokeh==3.6.1
boto3==1.38.10
botocore==1.38.10
Brotli==1.1.0
cachetools==5.3.1
celery==5.4.0
celery-progress==0.0.12
certifi==2023.7.22
cffi==1.15.1
channels==4.1.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
colorcet==3.1.0
comm==0.1.4
constantly==15.1.0
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==42.0.5
cssselect==1.2.0
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
dacite==1.8.1
darkdetect==0.8.0
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dateutils==0.6.12
debugpy==1.6.7.post1
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
Django==5.0.2
django-adminlte3==0.1.6
django-auth-ldap==4.8.0
django-auth-ldap3==0.9.6
django-cors-headers==4.3.1
django-csp==4.0
django-environ==0.11.2
django-extensions==3.2.3
django-humanize==0.1.2
django-leaflet==0.30.1
django-pandas==0.6.7
django-python3-ldap==0.15.5
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
dlib @ file:///F:/dev_2024/mit-spens/facial_recognition/dlib-19.24.1-cp311-cp311-win_amd64.whl#sha256=6f1a5ee167975d7952b28e0ce4495f1d9a77644761cf5720fb66d7c6188ae496
dnspython==2.5.0
docopt==0.6.2
dtale==3.15.1
duckdb==1.0.0
emoji==2.14.0
environ==1.0
et-xmlfile==1.1.0
eventlet==0.36.1
executing==1.2.0
face-recognition @ file:///F:/dev_2024/mit-spens/facial_recognition/face_recognition-1.3.0-py2.py3-none-any.whl#sha256=c543e91c8cfbf24d19db04e511ebbddcb23894bcee510133729ee78e9f4b5e83
face-recognition-models==0.3.0
Faker==37.1.0
fastapi==0.115.5
fastjsonschema==2.18.0
filelock==3.12.2
Flask==3.0.3
Flask-Compress==1.17
Flask-Cors==5.0.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
flet==0.24.1
flet-core==0.24.1
flet-runtime==0.24.1
fonttools==4.56.0
fpdf==1.7.2
fqdn==1.5.1
fsspec==2024.10.0
future==0.18.3
Fuzzy==1.2.2
gast==0.5.4
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.59.0
gw_dsl_parser==0.1.49.1
h11==0.14.0
h5py==3.9.0
holoviews==1.20.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.30.2
humanize==4.12.1
hvplot==0.11.1
hyperlink==21.0.0
idna==3.4
ImageHash==4.3.1
importlib_metadata==8.5.0
importlib_resources==6.4.4
incremental==22.10.0
ipykernel==6.25.1
ipylab==1.0.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.1.0
iso3166==2.1.1
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.2.0
jedi==0.19.0
jellyfish==1.0.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.5.1
Js2Py==0.74
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_echarts==0.1.14
jupyter_server==2.7.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kaleido==0.2.1
kanaries_track==0.0.5
keras==2.14.0
keyboard==0.13.5
kiwisolver==1.4.8
kombu==5.3.7
ldap3==2.9.1
leaflet==0.0.3
libclang==16.0.6
linkify-it-py==2.0.3
llvmlite==0.41.1
lux-api==0.5.1
lux-widget==0.1.11
lxml==4.9.3
lz4==4.3.3
Mako==1.3.9
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.10.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.2
mdurl==0.1.2
Metaphone==0.6
missingno==0.5.2
mistune==3.0.1
ml-dtypes==0.2.0
mod-wsgi==5.0.2
monotonic==1.6
MouseInfo==0.1.3
mpmath==1.3.0
ms-active-directory==1.13.0
multimethod==1.10
mysql==0.0.3
mysql-connector-python==9.0.0
mysqlclient==2.2.4
nameparser==1.1.3
narwhals==1.14.3
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
nest-asyncio==1.5.7
networkx==3.2.1
nltk==3.9.1
notebook==7.0.2
notebook_shim==0.2.3
numba==0.58.1
numpy==2.3.3
oauthlib==3.2.2
openai==1.29.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
oscrypto==1.3.0
overrides==7.4.0
packaging==24.2
pandas==2.3.2
pandas-dq==1.29
pandasql==0.7.3
pandocfilters==1.5.0
panel==1.5.4
param==2.1.1
parsel==1.8.1
parso==0.8.3
pathlib==1.0.1
patsy==0.5.4
pefile==2023.2.7
pgwalker==0.0.2
phik==0.12.3
pickleshare==0.7.5
pillow==11.1.0
pipdeptree==2.24.0
pipwin==0.5.2
platformdirs==3.10.0
plotly==5.24.1
polars==0.20.18
prettytable==3.12.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
Protego==0.3.0
protobuf==4.24.3
psutil==5.9.5
psycopg2==2.9.9
psycopg2-binary==2.9.10
psygnal==0.11.1
pure-eval==0.2.2
py-cui==0.1.6
py4j==0.10.9.7
pyad==0.6.0
pyamg==5.2.1
pyarrow==21.0.0
pyasn1==0.4.8
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
PyAutoIt==0.6.5
pycodestyle==2.12.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
PyDispatcher==2.0.7
pyecharts==2.0.7
pyecharts-jupyter-installer==0.0.3
pygame==2.6.1
pygedcom==0.2.3
PyGetWindow==0.0.9
Pygments==2.16.1
pygwalker==0.4.9.13
pyHanko==0.22.0
pyhanko-certvalidator==0.26.3
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pyjsparser==2.7.1
PyJWT==2.9.0
Pymem==1.13.3
pymongo==4.14.1
PyMsgBox==1.0.9
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
PyMySQL==1.1.1
pyogrio==0.9.0
pyOpenSSL==23.2.0
pyparsing==3.2.1
pypdf==4.1.0
PyPDF2==3.0.1
PyPDF4==1.27.0
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
pyproj==3.6.1
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
pyspark==3.5.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gedcom==0.2.3.dev0
python-json-logger==2.0.7
python-ldap @ file:///C:/Users/aaquinones/Desktop/ldap/python-ldap-build/python_ldap-3.4.4-cp311-cp311-win_amd64.whl#sha256=032bd9edcf30f6f462eedf5b183127d7dbaa0cb11f04de7c847f6d3e7a4baea0
python-slugify==8.0.4
pytorch-pretrained-biggan==0.1.1
pytweening==1.2.0
pytz==2025.2
pyviz_comms==3.0.3
PyWavelets==1.5.0
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.11
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==25.1.1
qrcode==7.4.2
qtconsole==5.4.3
QtPy==2.3.1
queuelib==1.6.2
quickjs==1.19.4
rapidfuzz==3.2.0
redis==5.0.4
referencing==0.30.2
regex==2024.11.6
repath==0.9.0
reportlab==4.0.4
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.2
rpds-py==0.9.2
rsa==4.9
s3transfer==0.12.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.11.4
Scrapy==2.10.0
seaborn==0.13.2
segment-analytics-python==2.2.3
Send2Trash==1.8.2
sentencepiece==0.2.0
service-identity==23.1.0
sh==2.1.0
shapely==2.0.6
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.38
sqlglot==25.18.0
sqlparse==0.4.4
squarify==0.4.4
stack-data==0.6.2
starlette==0.41.2
statsmodels==0.14.0
streamlit==1.49.1
streamlit-echarts==0.4.0
strsimpy==0.2.1
svglib==1.5.1
sweetviz==2.3.1
sympy==1.14.0
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textblob==0.18.0.post0
thefuzz==0.22.1
threadpoolctl==3.5.0
tinycss2==1.2.1
tldextract==3.4.4
tokenizers==0.21.1
toml==0.10.2
torch==2.7.0
torchvision==0.22.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.51.3
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typeguard==4.1.5
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.2
uc-micro-py==1.0.3
uri-template==1.3.0
uritools==4.0.2
urllib3==2.0.4
uvicorn==0.32.0
vine==5.1.0
visions==0.7.5
w3lib==2.1.2
wasmtime==24.0.0
watchdog==4.0.2
watchfiles==0.24.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==14.0
Werkzeug==3.0.0
widgetsnbextension==4.0.8
windows-curses==2.3.3
wordcloud==1.9.3
wrapt==1.14.1
xarray==2024.11.0
xgboost==1.6.2
xhtml2pdf==0.2.15
xlrd==2.0.1
XlsxWriter==3.1.3
xyzservices==2024.9.0
ydata-profiling==4.6.3
youtube-dl==2021.12.17
zipp==3.21.0
zope.interface==6.0
zstandard==0.23.0
